extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  section.categories.mt-5
    .category
      h2.category__title.text-center HOLIDAYS
      div.topics.list-group
        a(href='/topic').list-group-item.list-group-item-action.active XMAS
        a(href='/topic').list-group-item.list-group-item-action NEW YEAR
        a(href='/topic').list-group-item.list-group-item-action VALENTINES
        a(href='/topic').list-group-item.list-group-item-action EASTER
    .category  
      h2.category__title.text-center BIRTHDAY
      div.topics.list-group
        a(href='/topic').list-group-item.list-group-item-action UNICORNS
        a(href='/topic').list-group-item.list-group-item-action NEW YEAR
        a(href='/topic').list-group-item.list-group-item-action VALENTINES
        a(href='/topic').list-group-item.list-group-item-action EASTER.category  
    .category
      h2.category__title.text-center PARTIES
      div.topics.list-group
        a(href='/topic').list-group-item.list-group-item-action UNICORNS
        a(href='/topic').list-group-item.list-group-item-action NEW YEAR
        a(href='/topic').list-group-item.list-group-item-action VALENTINES
        a(href='/topic').list-group-item.list-group-item-action EASTER.category  
    .category
      h2.category__title.text-center EDUCATIONAL
      div.topics.list-group
        a(href='/topic').list-group-item.list-group-item-action UNICORNS
        a(href='/topic').list-group-item.list-group-item-action NEW YEAR
        a(href='/topic').list-group-item.list-group-item-action VALENTINES
        a(href='/topic').list-group-item.list-group-item-action EASTER
  include ../includes/footer.pug 

