doctype html
html
  head
    title
      = htmlWebpackPlugin.options.title
    body
      p
        | Add Product
      form(action="/admin/createProduct" method='POST' enctype="multipart/form-data")
        div.row 
          label(for='title') 
            | Title: 
          input(type='text', name='title')
        div.row 
          label(for='printable') 
            | Printable File: 
          input(type='file', name='printable', accept=".pdf")
        div.row 
          label(for='imageurl') 
            | Image: 
          input(type='file', name='imageurl' accept="image/*")

        div.row
          label(for='price')| Price 
          input(type='text', name='price')
        select(name="category" multiple).marg-bottom-1
          option(value='' disabled selected) Choose Category
          option(value='holidays') Holidays
          option(value='birthday') Birthday
          option(value='party') Party

        div.row
          textarea(class="textarea" rows='4', cols='50', name='description', placeholder="Product Description")
        input(class='btn' type='submit', value='Submit')
