extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h2.text-center.my-4
    | Add Topic
  form(action="/admin/createTopic" method='POST' enctype="multipart/form-data").border.border-info.w-75.align-self-center.p-4
    div.form-group
      label(for='title') 
        | Title: 
      input(type='text', name='title', required).form-control
    div.form-group
      label(for='imageurl') 
        | Topic Image: 
      input(type='file', name='imageurl' accept="image/*").form-control-file

    div.form-group
      label(for='price')| Price 
      input(type='text', name='price', required).form-control
    div.form-group
      label(for='category')| Select categories
      select(name="category" multiple).form-control
        option(value='holidays') Holidays
        option(value='birthday') Birthday
        option(value='party') Party
    div.form-group
      label(for="description") Topic Description
      textarea(name='description', placeholder="Product Description", required).form-control
    button(class='btn btn-info' type='submit', value='Submit') SUBMIT
