extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  a.btn.btn-primary.btn-lg.mx-auto(href='/admin/createTopic', role='button') 
    | Create Topic
  form.w-25.mx-auto
    div.form-group
      label(for="categories") Filter by Category
      select(name="categories" id="categories").form-control
        option(value="BIRTHDAY") BIRTHDAY
        option(value="PARTIES") PARTIES
        option(value="EDUCATIONAL") EDUCATIONAL
      input(type="submit").btn.btn-primary.mx-auto.d-block.mt-4
  .topics.my-5
    .topic.card
      img(src=require("../../images/xmas.png") alt="xmas")
      .card-body
        h5.card-title Xmas
        p.class-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium tellus eu pulvinar condimentum. Proin eleifend odio lacus. Nullam convallis magna dolor.
        a(href="/admin/topic").btn.btn-outline-primary.btn-large.btn-lg.btn-block. 
          Edit
        a(href="/admin/delete-topic").btn.btn-outline-primary.btn-lg.btn-block Delete
    .topic.card
      img(src=require("../../images/xmas.png") alt="xmas")
      .card-body
        h5.card-title Xmas
        p.class-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium tellus eu pulvinar condimentum. Proin eleifend odio lacus. Nullam convallis magna dolor.
        a(href="/admin/topic").btn.btn-outline-primary.btn-large.btn-lg.btn-block.
          Edit
        a(href="/admin/delete-topic").btn.btn-outline-primary.btn-lg.btn-block Delete


