// Variable overrides
$primary: #f3f3f2;
$secondary: #ff527e;
$success: #158bb3;
$info: #38ceff;
$danger: #b3a91e;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "danger": $danger
);
// fonts
@import "fonts";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// Class customizations
.card {
  max-width: 300px;
  background-color: $secondary;
  padding: 1rem;
  .btn--action {
    background-color: $success;
    color: $light;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  &__description {
    height: 3rem;
  }
  .card-title {
    color: $light;

  }
  .card-body {
    padding: 0;
  }
  .list-group {
    flex-grow: 1;
    align-items: center;
  }
  &__content{
    font-size: 1.5rem;
  }
  

  &--category {
    border-radius: 1rem;
    background-color: $success;
    display:flex;
    align-items: center;
    color: #fff;
    width: 100%;
    max-width: 15rem ;
     &:hover {
        text-decoration: none;
      }
    .card-title {
      background: none;
      text-align: center;
      margin:0;
    }
  }

  &--hello {
    color: dark;
    padding: 1rem;
    .card-title {
      padding: 0;
      color: $light;
      background: none;
    }
  }
  &--product {
    padding: 1rem;
    .card-title {
      padding: 0;
    }

    a.toolTipVisible:hover ~ .alert  {
      visibility: visible !important;
    }
    .card-body {
      padding: 0;
    }

    &__price {
      font-size: 1.2em;
      font-weight: bold;
    }
    font-family: nunito;
    .card-title {
      font-family: chewy;
    }
    .card-text {
      display: none;
      position: absolute;
      top: -30px;
      left: -60px;
      opacity: 90%;;
      width: 50%;
      border-radius: 1rem;
      padding: .5rem
    }
    &:hover {
      .card-text {
        display:block
      }
    }
    .speech-bubble{
      &--product{
        top: -5rem;
        right: -3rem;
        width: 60%;
        visibility: visible;
      }
    }
  }
}


h1 {
  font-size: 1.5rem;
  @include media-breakpoint-up(md){
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.2rem;
  @include media-breakpoint-up(md){
    font-size: 2rem;
  }
}

.nav-item{
  .nav-link{
    position: relative;
    text-transform: uppercase;
    color: $success;
    
    .dropdown-menu-h {
      position: absolute;
      left:0;
      top:100%;
      border-top: 3px solid transparent;
      display: none;
      min-width: 100%;
      z-index: 20; 
      .dropdown-item {
        color: $light;
        background-color: $success;
      }   
    }
  }
  &:hover {
    cursor: pointer;
    .nav-link{
      box-sizing: border-box;
      background-color: $success;
      color: $light;
    }
    .dropdown-menu-h {
      display: block;
    }

  }
}
$primary: #511845;