// Variable overrides
$primary: #3b3334;
$secondary: #8a8a8a;
$success: #5d6464;
$info: #ffffff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// Class customizations
.card {
  max-width: 460px;
  .card-title {
    background-color: $primary;
    color: $light;
    padding: 1rem;
  }
  .list-group {
    flex-grow: 1;
    align-items: center;
  }
  &__content{
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 1.5rem;
  @include media-breakpoint-up(md){
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.2rem;
  @include media-breakpoint-up(md){
    font-size: 2rem;
  }
}

$primary: #511845;