@font-face {
  font-family: Hellofreeday;
  src: url('../fonts/Hellofreeday.otf');
}

@font-face {
  font-family: ArbeiBerry;
  src: url('../fonts/ArbeiBerry.otf');
}

@font-face {
  font-family: chewy;
  src: url('../fonts/Chewy-Regular.ttf');
}

@font-face {
  font-family: nunito;
  src: url('../fonts/NunitoSans-Regular.ttf');
}


