.footer {
  display: flex;
  flex-direction: column;
  background-color: $dark;
  padding: 2rem;
  color: #fff;
  margin-top: 3rem;
  @include media-breakpoint-up(md){
    margin-top: 10rem;
  }
  .navbar-brand {
    color: #fff;
  }
  &__logo{
    display: block;
    text-align: center;
    @include media-breakpoint-up(md){
      text-align: initial;
    }
  }
  &__main {
    display: flex; 
    flex-direction: column;
    margin-top: 1rem;
    justify-content: space-around;
    @include media-breakpoint-up(md){
      flex-direction: row;
      margin-top: 3rem;
    }
    
    
  }
  &__copyrights{
    margin-top: 1rem;
    font-size: 0.8rem;
    p {
      margin-bottom: 0rem;
    }
    @include media-breakpoint-up(md){
      margin-top: 3rem;
    }
  }
  &__content {
    text-align: center;
    a {
      color: #fff;
    }
  }
  &__contact {
    text-align: center;
    @include media-breakpoint-up(md){
      text-align: initial;
    }
    p {
      margin-bottom: 0;
    }
    
  }
}