@import "custom";


@import "auth";
@import "cart";
@import "orders";
@import "hero";
@import "section";
@import "footer";
@import "base";

@import "navbar";
@import "search";
@import "utilities";
@import "category";
@import "adminPanel";

body {
  font-family: nunito;
}

html {
  writing-mode: horizontal-lr;
  direction: ltr;
}

.navbar-brand {
  font-family: 'McLaren', cursive;
}

.categories, .topics, .products {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  column-gap: 3rem;
  row-gap: 2rem;
  justify-items: center;
  
  picture {
    width: 100%;
    height: 7rem;
    text-align: center;
    & img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}



.dashboard{
  &__options {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    a.list-group-item {
      color: $light;
      background-color: $success;
    }
  }

  
}

.btn- {
  max-width: 15rem;
}

.container-page{
  background-color: $info;
}

html {
  font-size: 16px;
}

.hello {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    justify-content: center;
    justify-items: center;
  &__image {
    background: url('../images/image1050.png');
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 40%;
    min-width: 140px;
  }

}

.nav-secondary {
  a.dropdown-item {
    &:hover {
      background-color: $danger !important;
    }
  }
  &--admin {
    .nav {
      justify-content: center;
    }
  }
  .nav-link.active {
    background-color: $success;
    color: $light;
    &:hover {
      background-color: darken($success, 10%)
    }
  }
}