extends ../templates/container.pug
block content
  .container
    section.products
      each product in products
        - const productPath = `/product/${product.id}`
        include ../includes/productCard
    section.categories
      each item in categories
        - let categoryLink = `/category/${item.category.id}`
        a(href=categoryLink).card.card--category
          .card-body
            h5.card-title #{item.category.title}

    section.hello
      .card.card--hello.bg-danger
        .bard-body
          h5.card-title Hello and Welcome
          p.card-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean luctus vulputate turpis. Vestibulum viverra varius enim. Praesent a eros. 
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean luctus vulputate turpis. Vestibulum viverra varius enim. Praesent a eros. 
      div.hello__image
  include ../includes/footer.pug 

