extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  section.categories.mt-5
    each entry in data
      .category.card
        h2.card-title.text-center.text-uppercase #{entry.category.title}
        div.topics.list-group
          each topic in entry.topics
            - const href = `/topic/${topic.id}`
            a(href=href).list-group-item.list-group-item-action #{topic.title}
  include ../includes/footer.pug 

