extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  h2.text-center.mb-4  
    | #{product.title}
  .product
    .card(style='width: 33%;').mx-auto
      img(src=require("../../images/maze.jpg"), alt="maze").card-img-top
      .card-body.text-center
        -const path = `/addToCart/${product.id}`
        a.btn.btn-primary(href='/addToCart/') Add to Cart

  include ../includes/footer.pug 

