extends ../templates/container.pug
block content
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  h2.text-center.mb-4  
    | #{product.title}
  div.m-auto
    - let gallery = false;
    include ../includes/productCard

  include ../includes/footer.pug 

