extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  a.btn.btn-primary.btn-lg.mx-auto(href='/admin/createCategory', role='button') 
    | Create Category
  form.w-25.mx-auto
  .categories.my-5
    each category in categories
      .category.card
        .card-body
          h5.card-title= category.title
          a(href="/admin/category").btn.btn-outline-primary.btn-large.btn-lg.btn-block. 
            Edit
          a(href="/admin/delete-category").btn.btn-outline-primary.btn-lg.btn-block Delete
