extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h2.text-center.my-4
    | Add Category
  form(action="/admin/createCategory" method='POST').border.border-info.w-75.align-self-center.p-4
    div.form-group
      label(for='title') 
        | Title: 
      input(type='text', name='title', required).form-control
    div.form-group
      label(for="description") Category Description
      textarea(name='description', placeholder="Category Description", required).form-control
    button(class='btn btn-info' type='submit', value='Submit') SUBMIT
