extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  a.btn.btn-primary.btn-lg.mx-auto.my-4(href='/admin/createProduct', role='button') 
    | Create Product
  form.w-25.mx-auto
    div.form-group
      label(for="topics") Filter by Topic
      select(name="topics" id="topics").form-control
        option(value="XMAS") XMAS 
        option(value="NEW YEAR") NEW YEAR
        option(value="Unicorns") UNICORNS
      input(type="submit").btn.btn-primary.mx-auto.d-block.mt-4
  .categories.my-5
    .category.card
      img(src="../images/xmas.png" alt="xmas")
      .card-body
        h5.card-title Holidays
        p.class-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium tellus eu pulvinar condimentum. Proin eleifend odio lacus. Nullam convallis magna dolor.
        a(href="/admin/product").btn.btn-outline-primary.btn-large.btn-lg.btn-block. 
          Edit
        a(href="/admin/delete-product").btn.btn-outline-primary.btn-lg.btn-block Delete
    .topic.card
      img(src="../images/xmas.png" alt="xmas")
      .card-body
        h5.card-title Birthday
        p.class-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium tellus eu pulvinar condimentum. Proin eleifend odio lacus. Nullam convallis magna dolor.
        a(href="/admin/topic").btn.btn-outline-primary.btn-large.btn-lg.btn-block.
          Edit
        a(href="/admin/delete-topic").btn.btn-outline-primary.btn-lg.btn-block Delete


